/* google foonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Volkhov";
}
h1 {
    font-weight: 600;
}
.button {
    padding: 7px 25px;
    background-color: #458ff6;
}

/* navbar */
.nav-link:hover {
    color: rgb(182, 179, 179);
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* Services */
.card {
    border-radius: 10px;
    box-shadow: 0 100px 60px rgba(0, 0, 0, 0.05);
}
.card:hover {
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.09);
}
.card-title {
    font-weight: bold;
}

/* footer */
footer {
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.list {
    font-size: 13px;
    list-style: none;
    padding: 0;
}
.list li:hover {
    color: black;
}
.radius {
    border-radius: 10px;
}
.case:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

/* covid-portal-styles */
.case-section {
    background: url("assets/img/right-corona-bg.png") no-repeat right;
}

.prevention-section {
    background: url("assets/img/left-corona-bg.svg") no-repeat;
}

.symptoms-section {
    background: url("assets/img/Symptoms-Corona-bg.png") no-repeat right top;
}

/* Media-queries */

/* tablet */
@media only screen and (max-width: 767px) {
    /* carousel */
    .item-intro {
        padding-left: 0 !important;
    }
    /* social-distancing */
    .section-intro {
        text-align: center;
        padding-top: 20px;
    }
    .social-distance {
        display: flex;
        flex-direction: column-reverse;
    }
    /* wash-hands */
    .section-img {
        padding: 0 !important;
    }
    .section-img img {
        height: 300px;
    }
    /* donate-blood */
    .donation-heading {
        margin-top: 30px;
    }
    .blood-donate {
        display: flex;
        flex-direction: column-reverse;
    }

    /* covid-portal */
    .portal-img img {
        width: 80%;
    }
}
